@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model GenerateRandomPassword.Models.CheckUserPasswordModel

<div class="user-container">
    <h3><b>Check user password</b></h3>

    @if((Model.SamePasswords == false) || (Model.IsValidPassword == false))
    {
        <form class="user-form" asp-action="CheckUserPassword" asp-controller="UserPassword" method="post">
            <table>
                <tr>
                    <p>
                        <b>UserId: </b>Enter an existing 'userId' to check if
                        its password is correct or still valid.
                    </p>
                    <p><b>Password: </b>Enter the user password previously generated.</p>
                </tr>
                <tr>
                    <td>Enter UserId: </td>
                    <td><input type="text" asp-for="UserId" /></td>
                </tr>
                <tr>
                    <td>Enter Password: </td>
                    <td><input type="password" asp-for="Password" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Check password" /></td>
                </tr>
            </table>
            @if (Model.UserId != null)
            {
                <div class="output-container">
                    @if(Model.SamePasswords == false) 
                    {
                        <p class="alert-p">The <b>password</b> entered does not exist.</p>
                    }

                    @if ((Model.SamePasswords == true) && (Model.IsValidPassword == false))
                    {
                        <p class="alert-p">The <b>password</b> entered does not valid (generated password is valid for maximum 30 seconds).</p>
                    }
                </div>
            }
        </form>
    }
    else
    {
        <h4><b>The user verification process is complete. The 'userId' and 'password' entered are valid.</b></h4>
    }
</div>