@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model GenerateRandomPassword.Models.GenerateUserPasswordModel

<div class="user-container">
    <h3><b>Generate user password</b></h3>

    <form class="user-form" asp-action="GenerateUserPassword" asp-controller="UserPassword" method="post">
        <table>
            <tr>
                <p>
                    <b>UserId: </b>Enter an existing 'userId', if we don't have one then 
                    enter a 'userId' that you want to register.
                </p>
                <p><b>DatetimeNow: </b>Date and time when the password is generated.</p>
                <p><b>PasswordGenerated: </b>Randomly generated password for the user that is valid for 30 seconds.</p>
            </tr>
            <tr>
                <td>Enter UserId: </td> 
                <td><input type="text" asp-for="UserId" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Generate password" /></td>
            </tr>
        </table>
        @if(Model.UserId != null)
        {
            <div class="output-container">
                <p><b>UserId: </b>@Model.UserId</p>
                <p><b>DatetimeNow: </b>@Model.DateTimeGenerated</p>
                <p><b>PasswordGenerated: </b>@Model.Password</p>
            </div>
        }
    </form>
</div>